.SecurityGrades{
    display: flex;
    justify-content: space-around;
}

.securityContainer{
    width: 25%;
    border-radius: 30px;
    height: 60vh;
    padding:10px;
    text-align: center;
}

.securityContainer .title{
    font-size: 30px;
}

.passListSecurity{
    padding: 10px;
}

.passListSecurity div{
    font-size: 20px;
    padding-top: 10px;
}

#Alto{
    background-color: rgb(43, 165, 43);
}


#Medio{
    background-color: yellowgreen;
}

#Bajo{
    background-color: red;
}